.single-post-tile-mainfeed-dj {
    padding-top: 10px;
    width: 436px;
    /* height: 600px; */
    /* margin: 0 auto; */
}


.single-post-image-mainfeed-dj {
    object-fit: contain;
    width: 434px;
    height: 550px;
    cursor: pointer;
    background-color: black;
    
}

.single-post-mainfeed-dj {
    border: 1px solid lightgray;
    background-color: #ffff;
    height: 690px;
}

.pic-and-usename-mainfeed-dj {
    display: flex;
    align-items: center;
}

.single-post-username-mainfeed-dj {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.view-all-comments-mainfeed-dj {
    color: gray;
    font-size: 12px;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}
.usename-and-comment-mainfeed-dj {
    padding-left: 5px;
    padding-top: 5px;
}

.mainfeed-parent-div-dj {
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
    width: 750px;
    /* height: 600px; */
    /* padding-top: 100px; */
}
.follows-div-dj {
    position: -webkit-sticky;
    position: sticky;
    top: 118px;
    margin-left: 20px;
    height: 300px;
    width: 300px;
} 

.follows-div-parent-dj {
    width: 300px;
}

.session-user-profile-photo-mainfeed-dj {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
}

.people-you-follow-dj {
    color: gray;
    margin-top: 20px;
    margin-bottom: 15px;
}

.session-user-logged-in-dj {
    display: flex;
    align-items: center;
}

.username-inside-follow-list-dj {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.person-you-are-following-dj {
    display: flex;
    align-items: center;
}
.firstname-lastname-follow-dj {
    font-size: 12px;
    color: gray;
}
.people-you-follow-mapping-dj {
    overflow-y: scroll;
    height: 200px;
}

.people-you-follow-mapping-dj::-webkit-scrollbar {
    /* background-color: blue; */

}

.session-user-username-dj {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* .mainfeed-caption-dj {
    padding-top: 5px;
} */

.footer {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    left: 0;
    gap: 10px;
    height: 40px;
    /* margin-right: 200px;
    margin-left: 200px; */
 align-items: center;
    /* background-color: white */
    /* border-top: 1px solid lightgrey; */
}

.my-name {
    color: gray;
    text-decoration: none;
    pointer-events: none;
}

.linked-in {
    color: gray;
    text-decoration: none;
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border: 2px solid gray
}
.git-hub {
    color: gray;
    text-decoration: none;
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border: 2px solid gray
}

.footer-parent-div-dj {
    padding-top: 15px;
}