.navbar-ul-dj {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 60px;
}


/* #home-button-dj {
    /* text-decoration: none; */


#logo-container-om {
    padding-bottom: 20px
}

#logo {
    padding-top: -10px;
}

#nav-om {
    height: 60px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    align-items: start;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    position: fixed;
    z-index: 3;
    background-color: rgba(var(--d87,255,255,255),1);
    -webkit-box-align: center;
}

#search-om {
    width: 268px;
    height: 36px;
    position: relative;
    margin-top: 12px;
}

.search-input-field-th {
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    /* position: absolute; */
}

.results-field-om {
    z-index: 3;
}
