.signup-form-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    /* height: 415px; */
    border: 1px solid lightgray;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 25px;
}

.signup-buttons-om {
    height: 35px;
    width: 284px;
    border: none;
    margin-top: 25px;
    background-color: #0095F6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form-input-om {
    border: solid 1px rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    height: 35px;
    width: 268px;
    padding-left: 12px;
    outline: none;
    /* position: absolute; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
    background-color: rgb(242, 242, 242);
}

.login-redirect-parent {
    border: 1px solid lightgray;
    width: 370px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    margin-left: 20px;
}

.login-redirect-button-om {
    color: #0095F6;
    border: none;
    background-color: white;
    cursor: pointer;
}

.signup-main-om {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    /* height: 415px; */
    /* border: 1px solid lightgray; */
    height: 100%;
    /* height: 100%; */

}

.signup-finstagram-om {
    font-size: 50px;
    font-family: 'Billabong', sans-serif;
}

.signup-welcome-om {
    font-size: 17px;
    color: #8E8E8E;
    width: 284px;
    text-align: center;
    height: 55px;
}

.error-message-text-th {
    color: maroon;
    max-height: inherit;
}

.error-messages-container-th {
    margin-bottom: 5px;
    height: fit-content;
    /* background-color: pink; */
}

.signup-error-messages-container-th {
    margin-bottom: 15px;
    height: fit-content;
    /* background-color: pink; */
}

.error-message-login-om {
    height: 30px;
    color: maroon;
}

.mega-parent-of-sign-up-dj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}