#profile-page-container-om {
    padding-top: 85px;
    margin: 0 auto;
    width: 780px;
}

#profile-page-info-container-om {
    display: flex;
    width: 760px;
    /* margin: 0 auto; */
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 7%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#profile-image-om {
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

#profile-info-om {
    /* width: 600px; */
    /* width: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 33%;
}

#profile-username-om {
    font-size: 25px;
    font-weight: 300;
}

.profile-follow-om {
    font-size: 14px;
    font-weight: 600;
    /* line-height: 26px; */
    /* overflow: hidden; */
    border-radius: 3px;
    background-color: #0095F6;
    width: 92px;
    height: 30px;
    cursor: pointer;
    color: white;
    padding-left:19px;
    padding-bottom:8px;
    padding-top:5px;
    padding-right:19px;
    border-color: rg5a(var(--d69,0,149,246),1);
}

.profile-unfollow-om {
    font-size: 14px;
    font-weight: 600;
    /* line-height: 26px; */
    /* overflow: hidden; */
    border-radius: 3px;
    background-color: transparent;
    width: 92px;
    height: 30px;
    cursor: pointer;
    color: black;
    padding-left:10px;
    padding-bottom:8px;
    padding-top:5px;
    padding-right:10px;
    /* border-color: rg5a(var(--d69,0,149,246),1); */
    border: 1px solid lightgray;
}

#profile-posts{
    width: 600px;
    display: flex;
    justify-content: center;
}

#profile-posts-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.profile-parent-div-dj {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    height: auto;
    margin: 0 auto;
    /* margin: 0 2 auto 0; */
    padding-top: 20px;
    padding-left:15px;
    /* justify-content: center; */
}

.profile-page-info-megacontainer-om {
    display: flex;
    justify-content: center;
    margin-left: 11px;
    /* width: 780px; */
}

.profile-page-POSTS {
    font-size: 14px;
    text-align: center;
    color: gray;
    font-weight: 600;
    padding-top: 15px;
}

.profile-page-user-image-th {
    width: 33%;
}

.follow-button-container-th {
    width: 33%;
    display: flex;
    flex-direction: row-reverse;
    /* align-items: baseline; */
}

.profile-button-house-om {
    margin-top: 10px;
    width: 25%;
    /* align-self: flex-end; */
}
