#profile-page-container-om {
    padding-top: 85px;
    margin: 0 auto;
}

#profile-page-info-container-om {
    display: flex;
    flex-direction: row;
    width: 927px;
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;
}

#profile-image-om {
    width:100%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    object-fit: cover;
}

#profile-info-om {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#profile-username-om {
    font-size: 25px;
    font-weight: lighter;
}

.profile-follow-om {
    font-size: 14px;
    font-weight: 600;
    /* line-height: 26px; */
    /* overflow: hidden; */
    border-radius: 3px;
    background-color: #0095F6;
    width: 92px;
    height: 30px;
    cursor: pointer;
    color: white;
    border-color: rgba(var(--d69,0,149,246),1);
}

#profile-posts{
    width: 600px;
    display: flex;
    justify-content: center;
}

#profile-posts-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
