body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: rgb(242, 242, 242);
}
.single-post-parent-dj {
    display: flex;
    width: 1300px;
    height: 600px;
    

}

.single-post-image-in-modal-dj {
    height: 600px;
    width: 845px;
    object-fit: contain;
    background-color: black;
    /* padding-right: 10px; */
}

/* .edit-comment-parent-dj {
    height: 100px;
    grid-area: 2;
} */

.single-post-child-2-dj {
    height: auto;
    margin: 0 auto;
}

.comments-inner-div-dj {
    height: 545px;
    border-bottom: 1px solid lightgray;
    width: 300px;
    padding-top: 10px;
    width: 453px;

}


.post-comment-dj {
    display: flex;
    justify-content: center;
}

.post-comment-button-dj {
    border: none;
    color: rgb(31, 170, 216);
    background-color: white;
    padding-top: 12px;
}

.post-comment-text-area-dj {
    width: 370px;
    height: 20px;
    border: none;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-comment-form-dj {
    display: flex;
    padding-right: 10px;
}

.single-post-caption-dj {
    /* border-bottom: 1px solid lightgray; */
    padding-bottom: 10px;
    padding-left: 10px;
}

.single-post-comment-username-dj {
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.single-post-comment-username-dj:hover {
    text-decoration: underline;
}

.comment-username-and-comment-dj {
    display: flex;
    align-items: center;
    /* padding-right: 4px; */
    width: 420px;
    

}

.commented-user-profile-image-dj {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    /* align-items: baseline; */
}

.post-edit-and-delete-button-dj {
    border: none;
    color: rgb(31, 170, 216);
    background-color: white;
}

.comment-edit-and-delete-button-dj {
    border: none;
    color: rgb(31, 170, 216);
    background-color: white;
    font-size: 10px;
}

.single-post-owner-username-dj {
    font-weight: 600;
    text-decoration: none;
    color: black;
   
}

.single-post-owner-username-dj:hover {
    text-decoration: underline;
}

.single-post-owner-username-and-caption-dj {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-right: 4px;
}
.single-post-owner-comment-dj {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.post-caption-dj {
    padding-left: 5px;
}

.div-for-scroll {
    overflow-y: scroll;
    height: 479px;
    width: 452px;
    
}

.div-for-scroll::-webkit-scrollbar {
    display: none;
}
.comment-div-dj {
    width: 380px;
    
}



.edit-comment-text-area-dj {
    width: 370px;
    height: 20px;
    /* border: none; */
    border-radius: 3px;
    border: 1px solid lightgray;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-comment-button-dj {
    border: none;
    color: rgb(31, 170, 216);
    background-color: white;
    /* padding-top: 10px; */
}






